<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    {% set currentRoute = app.request.attributes.get('_route') %}
    <body class="min-h-screen bg-gray-950 text-white px-4" data-page="{{ currentRoute }}">
        {% include 'partials/_navbar.html.twig' %}
        <header class="text-center mt-4">
            <h1 class="text-4xl md:text-6xl font-bold text-yellow-400 font-sf">C3DataO</h1>
            <p class="text-gray-400 mt-2 text-lg italic">Explorez la galaxie Star Wars</p>
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
